<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="/resources/css/contact.less" />
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script src="https://kit.fontawesome.com/4f2d93f234.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500&family=Poppins:wght@600&display=swap');
    </style>
    <title>Contact</title>
</head>
<body>
    <nav class="w-25 shadow">
        <p class="fs-1 font d-flex justify-content-center font">Welcome</p> 
        <div id="nav_buttons" class="w-100 h-25 d-flex flex-column justify-content-center">
            <a href="/" class="d-block font fs-3 text-decoration-none m-auto">Home</a>
            <a href="/about" class="d-block font fs-3 text-decoration-none m-auto">About</a>
            <a href="/contact" class="d-block font fs-3 text-decoration-none m-auto selected shadow">Contact</a>
        </div>
    </nav>

    <main id="content_container" class="w-75 float-end">
        <div id="top_container" class="">
            <p class="font fs-4">GET IN TOUCH</p>
            <P class="fs-6 font mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ad iusto !</P>

            <div id="icons" class="mt-5">
                <i class="fa-solid fa-envelope"></i><p class="font d-inline-block ms-3">reymond.domingo.716@gmail.com</p><br>
                <i class="fa-solid fa-phone"></i><p class="font d-inline-block ms-3 mt-3">+63 9 123 456 78</p><br>
                <i class="fa-solid fa-location-dot"></i><p class="font d-inline-block ms-3 mt-3">CSJDM, Bulacan, Philippines</p>
            </div>
        </div>
        <div id="bottom_container" class="">
            <div id="name_left" class="d-inline-block">
                <p class="font fs-2 text-light">Reymond Domingo</p>
                <div id="details" class="w-100 font-finland text-white mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nesciunt vero amet adipisci exercitationem sint velit deserunt corporis obcaecati quisquam fuga accusamus, ipsa itaque sapiente voluptates sed blanditiis ullam. Placeat.
                </div>
                <div id="github">
                    <i class="fa-brands fs-1 fa-github"></i><p class="d-inline-block fs-4 ms-2 align-middle text-white">
                        <a target="_blank" href="https://github.com/reydm-7166/nodejs_portfolio_exercise" class="text-decoration-none text-white fst-italic">
                            Source code here
                        </a>
                    </p>
                </div>
            </div>


            <div id="contact_right" class="d-inline-block align-bottom">
                <i class="fa-brands fs-1 mt-3 fa-twitter ms-5"></i>
                <i class="fa-brands fs-1 mt-3 fa-facebook ms-5"></i></a>
                <i class="fa-brands fs-1 mt-3 fa-instagram ms-5"></i></a>
            </div>
            <div id="form" class="shadow w-25 ps-1">
                <form action="">
                    <div id="text_label" class="ps-3 mt-5 text-center">
                        <label for="" class="font fs-4">Connect with me!</label>
                    </div>

                    <div id="first_name" class="w-100 p-3">
                        <input type="text" name="first_name" class="mt-2 form-control p-2 ps-3 shadow font" placeholder="First Name">
                    </div>

                    <div id="last_name" class="w-100 p-3">
                        <input type="text" name="last_name" class="mt-1 form-control p-2 ps-3 shadow font" placeholder="Last Name">
                    </div>
                    <div id="email" class="w-100 p-3">
                        <input type="text" name="email" class="mt-1 form-control p-2 ps-3 shadow font" placeholder="Email Address">
                    </div>
                    
                    <div id="text_area" class="w-100 p-3">
                        <textarea name="" id="" class="form-control font" cols="30" rows="5" placeholder="Say Something"></textarea>
                    </div>

                    <div id="submit_button" class="w-100 p-3">
                        <input type="submit" class="btn btn-light font fs-4 w-100" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>